<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Confirmation</title>
  <meta http-equiv="refresh" content="5;url={{ url_for('auth.login') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/confirmation.css') }}">
</head>
<body>
  <div class="confirmation-box">
    <h2>✅ Votre compte a été créé avec succès !</h2>
    <p>Vous pouvez analyser votre EEG maintenant.</p>
    <p>Redirection vers la page de connexion...</p>
  </div>
</body>
</html>