<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Réinitialisation du mot de passe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/reset.css') }}">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h2>Demande de réinitialisation</h2>
      <form method="POST">
        {{ form.hidden_tag() }}

        <div class="field">
          {{ form.email.label }}
          {{ form.email(class_='input', placeholder='Adresse Email') }}
          {% for error in form.email.errors %}
            <small style="color: red;">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="field btn">
          {{ form.submit(class_='btn') }}
        </div>
      </form>
      <div class="login-link">
        <a href="{{ url_for('auth.login') }}">Retour à la connexion</a>
      </div>
    </div>
  </div>
</body>
</html>