<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Réinitialisation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/reset.css') }}">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h2>Réinitialisez votre mot de passe</h2>
      <form method="POST">
        <div class="field">
          <label for="new_password">Nouveau mot de passe</label>
          <input type="password" name="new_password" placeholder="Nouveau mot de passe" required>
        </div>

        <div class="field">
          <label for="confirm_password">Confirmer le mot de passe</label>
          <input type="password" name="confirm_password" placeholder="Confirmer mot de passe" required>
        </div>

        <div class="field btn">
          <input type="submit" class="btn" value="Réinitialiser">
        </div>
      </form>
    </div>
  </div>
</body>
</html>