<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Patient File - Neuvera</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/folder_details.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='pictures/NEUVERA2.png') }}" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='pictures/NEUVERA1.png') }}" alt="Logo Neuvera">
    </div>
    <ul>
      <li><a href="/api/dashboard" class="{% if request.path == '/api/dashboard/' %}active{% endif %}">Accueil</a></li>
      <li><a href="/api/dashboard/profile"
          class="{% if request.path == '/api/dashboard/profile' %}active{% endif %}">Profil</a></li>
      <li><a href="/api/dashboard/settings"
          class="{% if request.path == '/api/dashboard/settings' %}active{% endif %}">Paramètres</a></li>
    </ul>
  </nav>

  <main class="container">
    <header class="header">
      <h1>Dossier du Patient : {{ patient.first_name }} {{ patient.last_name }}</h1>
      <a href="{{ url_for('eeg_folder.list_patients') }}" class="back-link">
        <i class="fas fa-arrow-left"></i> Retour à la liste
      </a>

    </header>

    <section class="patient-info">
      <h2>Informations personnelles</h2>
      <ul>
        <li><strong>ID :</strong> {{ patient.id }}</li>
        <li><strong>Nom :</strong> {{ patient.first_name }} {{ patient.last_name }}</li>
        <li><strong>Date de naissance :</strong> {{ patient.birth_date.strftime('%Y-%m-%d') }}</li>
        <li><strong>Sexe :</strong> {{ patient.sex }}</li>
        <li><strong>Créé le :</strong> {{ patient.created_at.strftime('%d %B %Y à %H:%M') }}</li>
      </ul>
    </section>

    <section class="patient-states">
      <div class="states-header">
        <h2>États du patient</h2>
        <a href="{{ url_for('eegfile.show_eegfile_form', patient_id=patient.id) }}" class="btn btn-primary"
          title="Ajouter un EEG">
          <i class="fas fa-file-medical"></i>
        </a>

      </div>

      {% if eeg_files %}
      <ul class="states-list">
        {% for file in eeg_files %}
        <li>
          <a href="{{ url_for('eegfile.view_eegfile', patient_id=patient.id, eegfile_id=file.id) }}">
            <i class="fas fa-wave-square"></i> <!-- Icône onde EEG -->
            État {{ loop.index }} – cliquez pour voir les détails (EEG enregistré le {{ file.uploaded_at.strftime('%d %B
            %Y à %Hh%M') }})
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Aucun état enregistré pour ce patient.</p>
      {% endif %}



    </section>
  </main>

</body>

</html>